@use '@styles/colors';
@use '@styles/fonts';
@use '@styles/sizes';
@import '@styles/mixins';

.hero {
  display: flex;
  justify-content: center;
  position: relative;

  @include tablet() {
    margin-top: sizes.$md;
  }

  @include narrow-screen() {
    flex-direction: column;
  }

  &_left {
    // border: 1px solid lightsalmon;
    flex: 0.9;
    font-family: fonts.$syne;

    @include mobile() {
      padding: 0 sizes.$lg;
    }

    &_title {
      font-size: 4.5vw;
      font-weight: 800;
      color: colors.$accent;
      transition: all 0.2s ease;

      @include narrow-screen() {
        font-size: fonts.$xl;
      }
    }

    &_text {
      font-size: 2vw;
      width: 100%;
      margin-top: 1em;
      margin-bottom: 1em;
      transition: all 0.2s ease;
      @include narrow-screen() {
        font-size: fonts.$md;
      }
    }
  }
  &_buttons {
    display: flex;
    gap: sizes.$xs;
    margin-top: sizes.$extra;
    flex-wrap: wrap;

    @include narrow-screen() {
      margin-top: sizes.$xxl;
    }

    @include mobile() {
      gap: sizes.$xxl;
    }

    span:nth-child(1) > a {
      padding: sizes.$md sizes.$xl;
      border: none;
      font-weight: 600;
      font-family: fonts.$manrope;
      cursor: pointer;
      transition: all 0.15s ease-in-out;
      background: colors.$accent;
      border: 1px solid colors.$accent;
      color: colors.$bg1;
      position: relative;
      &:hover {
        background: transparent;
        color: colors.$accent;
        transform: translateY(-5px);
      }
      @include mobile() {
        padding: sizes.$sm sizes.$lg;
      }
    }
    span:nth-child(2) > a {
      padding: sizes.$md sizes.$xl;
      border: none;
      font-weight: 600;
      font-family: fonts.$manrope;
      cursor: pointer;
      transition: all 0.15s ease-in-out;
      background: transparent;
      border: 1px solid white;
      color: white;

      &:hover {
        background: white;
        color: colors.$bg1;
        transform: translateY(-5px);
      }
      @include mobile() {
        padding: sizes.$sm sizes.$lg;
      }
    }
  }

  &_right {
    // border: 1px solid lightblue;
    flex: 1;

    @include narrow-screen() {
      margin-top: sizes.$xxl;
    }

    .image {
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        border: 1px solid colors.$accent;
        left: -(sizes.$xs);
        bottom: -(sizes.$xs);

        @include narrow-screen() {
          display: none;
        }
      }
    }
  }
}
