@use '@styles/colors';
@use '@styles/fonts';
@use '@styles/sizes';
@import '@styles/mixins';

.hero {
  display: flex;
  justify-content: center;
  position: relative;

  @include tablet() {
    margin-top: sizes.$xl;
  }

  @include narrow-screen() {
    flex-direction: column;
  }

  &_left {
    // border: 1px solid lightsalmon;
    flex: 0.9;
    font-family: fonts.$syne;

    @include mobile() {
      padding: 0 sizes.$lg;
    }

    &_title {
      font-size: 4.5vw;
      font-weight: 800;
      color: colors.$accent;
      transition: all 0.2s ease;

      @include narrow-screen() {
        font-size: fonts.$xl;
      }
    }

    &_text {
      font-size: 2vw;
      width: 100%;
      margin-top: 1em;
      margin-bottom: 1em;
      transition: all 0.2s ease;
      @include narrow-screen() {
        font-size: fonts.$md;
      }
    }
  }
  &_buttons {
    display: flex;
    gap: sizes.$xs;
    flex-wrap: wrap;
  }

  &_right {
    // border: 1px solid lightblue;
    flex: 1;

    @include narrow-screen() {
      margin-top: sizes.$lg;
    }
  }
}
