@use "@styles/colors";
@use "@styles/fonts";
@use "@styles/sizes";
@import "@styles/mixins";

.menu {
  padding: sizes.$xl 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_textlogo {
    font-family: fonts.$syne;
    font-weight: 900;
    font-size: fonts.$md;
  }

  &_anchorlinks {
    display: flex;

    &_link {
      margin-right: sizes.$xl;
      list-style: none;
      transition: all 0.15s ease-in-out;

      &:nth-child(4) {
        margin-right: 0;
      }

      &:hover {
        color: colors.$accent;
        cursor: pointer;
      }
    }
  }
}

.current {
  color: colors.$accent;
}

@include mobile() {
  .menu {
    display: none;
  }
}

@include tablet() {
  .menu {
    display: none;
  }
}
