@use '../styles/fonts';
@use '../styles/sizes';
@import 'mixins';

.bodyWrapper {
  transition: all 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: sizes.$layout-lg;
  height: 100vh;
  margin: 0 auto;
}
