@use '../styles/fonts';
@use '../styles/sizes';
@import 'mixins';

.bodyWrapper {
  transition: all 0.15s ease-in-out;
  display: block;
  width: sizes.$layout-md;
  margin: 0 auto;
  height: 100vh;
  font-family: fonts.$manrope;

  h1 {
    margin-bottom: sizes.$sm;
  }
}

.cards {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: sizes.$xs;
  transition: all 0.15s ease;

  &__cardImage {
    transition: all 0.15s ease;
    &:hover {
      transform: scale(0.98);
      z-index: 10;
      cursor: pointer;
    }
    img {
      border-radius: sizes.$xxs;
    }
  }
}

@include tablet() {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include mobile() {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
