@use '../styles/fonts';
@use '../styles/colors';
@use '../styles/sizes';
@import 'mixins';

.bodyWrapper {
  transition: all 0.15s ease-in-out;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: sizes.$layout-lg;

  @include mobile() {
    width: sizes.$layout-full;
  }
}

.sections_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;

  @include mobile() {
    padding: 0 sizes.$md;
    padding-bottom: sizes.$md;
  }
}

.sections_split {
  display: flex;
  justify-content: flex-start;
  gap: sizes.$lg;
  width: 100%;
  font-family: fonts.$manrope;
  padding-top: sizes.$md;

  .section_left {
    display: flex;
    flex-direction: column;
    align-items: center;

    .digitalplatform_wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: sizes.$sm;
      width: 100%;

      .digitalplatform_button {
        flex: 1;
        background: transparent;
        border: 1px solid white;
        color: white;
        font-size: fonts.$sm;
        padding: sizes.$sm;
        font-family: fonts.$syne;
        transition: all 0.15s ease;

        &:hover {
          border: 1px solid colors.$accent;
          color: colors.$accent;
          transform: scale(0.98);
          cursor: pointer;
        }

        &:is(:last-child) {
          margin-left: 1em;
        }
      }
    }
  }

  .section_right {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: fonts.$xxl;
      font-family: fonts.$syne;
      font-weight: 500;
      margin-bottom: sizes.$md;
      border-bottom: 1px solid colors.$accent;
      border-bottom-style: dotted;
      border-bottom-width: 2.5px;

      @include tablet() {
        font-size: fonts.$xl;
        padding-bottom: sizes.$sm;
      }

      @include mobile() {
        font-size: fonts.$lg;
      }
    }

    .release_info {
      font-size: fonts.$sm;
      font-weight: 800;
      margin-top: sizes.$md;
    }

    .details_field {
      line-height: sizes.$lg;
      font-weight: 800;

      span {
        font-weight: 400;
      }
    }
  }
}

@include mobile() {
  .sections_split {
    flex-direction: column;
  }
}

@include tablet() {
  .sections_split {
    flex-direction: column;
    width: sizes.$layout-full;
  }
}
