@use "../styles/fonts";
@use "../styles/sizes";
@import "mixins";

.bodyWrapper {
  transition: all 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0 auto;
  width: sizes.$layout-lg;

  @include mobile() {
    width: sizes.$layout-full;
  }
}

.contentWrapper {
  flex: 1;

  @include mobile() {
    padding: 0 sizes.$md;
  }

  h1 {
    margin-bottom: sizes.$sm;

    @include tablet() {
      margin-top: sizes.$md;
    }
  }
}

.cards {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: sizes.$xs;
  transition: all 0.15s ease;

  @include tablet() {
    margin-top: sizes.$md;
  }

  &__cardImage {
    transition: all 0.15s ease;
    position: relative;

    &:hover {
      transform: scale(0.97);
      z-index: 11;
      cursor: pointer;
    }

    &::before {
      overflow: hidden;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      content: attr(data-song-name);
      font-size: sizes.$sm;
      padding: sizes.$sm;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0%;
      opacity: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
      border-radius: sizes.$xxs;
      transition: all 0.15s ease;
    }

    &:hover:before {
      height: 100%;
      opacity: 1;
    }

    img {
      background: rgba(255, 255, 255, 0.05);
      border-radius: sizes.$xxs;
    }
  }
}

@include tablet() {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include mobile() {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
